.form-row {
    /* border-bottom-style: solid; */
    margin-top: 10px;
    padding: 5px;
    border-color: lightgray;
    background-color: #f5f5f5;
    box-shadow: 6px 4px #e1e0e0;
    display: flex;
}

.label-panel {
    flex: 0 0 40%;
    max-width: 40%;
}

.control-panel {
    flex: 0 0 57%;
    max-width: 57%;
}

.info-icon-panel {
    flex: 0 0 3%;
    max-width: 3%;
}

.info-icon {
    padding-left: 5px;
}