<!-- validation -->
<div class="form-group-panel">

    <!-- group title, description -->
    <span *ngIf="config.title" class="group-title" [innerHTML]="config.title"></span>
    <span *ngIf="config.description" class="group-description" [innerHTML]="config.description"></span>

    <!-- form rows, controls, etc. come here -->
    <ng-content></ng-content>

    <!-- (optional) error panel -->
    <div class="error-panel" *ngIf="hasErrorMsg()">
        <span [innerHtml]="getErrorMsg()"></span>
    </div>

</div>