
#header-panel {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 3px #C3009E solid;
}

#verti-logo {
    height: 150px;
    margin: 9px 0;
    margin-top: -60px;
    margin-left: -40px;
    margin-right: -30px;
    margin-bottom: -50px;
}

#language-icon {
    width: 40px;
    height: 25px;
}