<div class="page-panel">

  <!-- page header -->
  <span class="page-header" [innerHTML]="properties.pageHeader"></span>

  <!-- situation form -->
  <form [formGroup]="form">

    <!-- situation group -->
    <app-form-group formGroupName="situationGroup" [config]="situationGroupConfig">

      <!-- situation select -->
      <app-radio formControlName="situationChoice" [config]="situationChoiceConfig"></app-radio>

      <!-- insurance begin select -->
      <app-radio formControlName="insuranceBeginChoice" [config]="insuranceBeginChoiceConfig"
        *ngIf="isVisibleInsuranceBeginChoice()"></app-radio>

      <!-- insurance begin date -->
      <app-input-date formControlName="insuranceBeginDate" [config]="insuranceBeginDateConfig"
        *ngIf="isVisibleInsuranceBeginDate()" class="appended"></app-input-date>

    </app-form-group>

    <div class="submit-button-panel">
      <button type="submit" class="submit-button" (click)="onSubmit()"
        [innerHtml]="properties.submitButton_label"></button>
    </div>

    <!-- <p></p>
  <span>form value: {{form.value | json}}</span>
  <p></p>
  <span>form valid: {{form.valid | json}}</span> -->

  </form>

</div>