<div class="viewer-panel">

    <!-- vehicle description -->
    <div class="viewer-item">
        <span class="viewer-item-label">{{vehicleDescriptionItem.label}}</span>
        <div class="viewer-item-value found-vehicle-panel">
            <img *ngIf="vehicleManufacturerImage" [src]="vehicleManufacturerImage" />
            <span [innerHTML]="vehicleDescriptionItem.value"></span>
        </div>
    </div>

    <!-- HSN/TSN -->
    <div class="viewer-item">
        <span class="viewer-item-label">{{hsnTsnItem.label}}</span>
        <span class="viewer-item-value">{{hsnTsnItem.value}}</span>
    </div>

    <!-- manuf year -->
    <div class="viewer-item">
        <span class="viewer-item-label">{{manufYearItem.label}}</span>
        <span class="viewer-item-value">{{manufYearItem.value}}</span>
    </div>

    <!-- purchase year -->
    <div class="viewer-item">
        <span class="viewer-item-label">{{purchaseYearItem.label}}</span>
        <span class="viewer-item-value">{{purchaseYearItem.value}}</span>
    </div>

    <!-- financing -->
    <div class="viewer-item">
        <span class="viewer-item-label">{{financingItem.label}}</span>
        <span class="viewer-item-value">{{financingItem.value}}</span>
    </div>

</div>