/* You can add global styles to this file, and also import other style files */

body {
    max-width: 900px;
}

#content-panel {
    display: flex;
    width: 900px;
}

#form-panel {
    width: 700px;
}

#info-placeholder-panel {
    width: 200px;
}

.page-header {
    margin-bottom: 10px; 
}

form {
    max-width: 700px;
}

.form-group-panel.ng-valid.ng-touched , .form-group-panel.ng-valid.ng-dirty {
    border-style: solid;
    border-color: rgb(208, 255, 137);
}

.group-title {
    width: 700px;
    margin-bottom: 10px;
    padding: 5px;
}

.form-group-panel.ng-valid.ng-touched .group-title , .form-group-panel.ng-valid.ng-dirty .group-title {
    background-color: rgb(208, 255, 137);
}

app-radio.ng-invalid.ng-touched  .form-row , app-radio.ng-invalid.ng-dirty  .form-row {
    background-color: #ffcdcd;
}

app-select.ng-invalid.ng-touched  .form-row , app-select.ng-invalid.ng-dirty  .form-row {
    background-color: #ffcdcd;
}

app-input.ng-invalid.ng-touched  .form-row , app-input.ng-invalid.ng-dirty  .form-row {
    background-color: #ffcdcd;
}

.info-panel {
    position: absolute;
    left: 730px;
    width: 170px;
}

app-input.appended .form-row {
    margin-top: 0px;
}