<div class="page-panel">

    <!-- page header -->
    <span class="page-header" [innerHTML]="properties.pageHeader"></span>

    <!-- vehicle form -->
    <form [formGroup]="form">

        <!-- vehicle group -->
        <app-form-group formGroupName="vehicleGroup" [config]="vehicleGroupConfig">

            <!-- manuf year select -->
            <app-select formControlName="manufYear" [config]="manufYearConfig"></app-select>

            <!-- purchase year select -->
            <app-select formControlName="purchaseYear" [config]="purchaseYearConfig"></app-select>

            <!-- vehicle selection kind (comfort search / hsn,tsn) -->
            <app-radio formControlName="vehicleSelection" [config]="vehicleSelectionConfig"></app-radio>

            <div *ngIf="isVisibleHsnTsn()">

                <!-- HSN -->
                <app-input formControlName="hsn" [config]="hsnConfig"></app-input>
                <!-- TSN -->
                <app-input formControlName="tsn" [config]="tsnConfig" class="appended">
                </app-input>

                <!-- found vehicle -->
                <app-form-row [config]="foundVehicleConfig">
                    <div class="found-vehicle-panel">
                        <img *ngIf="foundVehicleImg" [src]="foundVehicleImg" />
                        <span [innerHTML]="foundVehicleText"></span>
                    </div>
                </app-form-row>
            </div>

            <div *ngIf="isVisibleComfortSearch()">

                <!-- manufacturer -->
                <app-select formControlName="manufacturer" [config]="manufacturerConfig">
                </app-select>
                <!-- model -->
                <app-select formControlName="model" [config]="modelChoiceConfig" class="appended"></app-select>
                <!-- fuel -->
                <app-select formControlName="fuel" [config]="fuelConfig" class="appended">
                </app-select>

            </div>

            <div>

            </div>

            <!-- TODO -->

            <!-- financing -->
            <app-radio formControlName="financing" [config]="financingConfig"></app-radio>

        </app-form-group>

        <div class="submit-button-panel">
            <button type="submit" class="submit-button" (click)="onSubmit()"
                [innerHtml]="properties.submitButton_label"></button>
        </div>

        <!-- <p></p>
    <span>form value: {{form.value | json}}</span>
    <p></p>
    <span>form valid: {{form.valid | json}}</span> -->

    <span>pending state: {{ form.pending }}</span>

    </form>

</div>