
.found-vehicle-panel {
    display: flex;
    align-items: center;
    height: 40px;
}

.found-vehicle-panel span {
    margin-left: 20px;
}

.found-vehicle-panel img {
    width: 40px;
}